<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        Available Trash
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>

    <ion-card *ngFor ="let item of items | async">
      <ion-card-header>
        <ion-card-subtitle>{{item.ort}}</ion-card-subtitle>
        <ion-card-title> {{item.titel}} 
          <ion-button (click) = "changeState(item)" fill = "clear" style="float: right;">
            <ion-icon *ngIf="item.liked" style="float: right; vertical-align: top;" name="heart"></ion-icon> 
            <ion-icon *ngIf="!item.liked" style="float: right; vertical-align: top;" name="heart-outline"></ion-icon>
          </ion-button>
        </ion-card-title>
      </ion-card-header> 
    </ion-card>

    
    

  </ion-list>

  
  

  
</ion-content>
