<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        Available Trash
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex;">
  <ion-searchbar (ionChange)="searchChanged($event)" ></ion-searchbar>
  <ion-button  (click)="openSelect()" style="padding-top: 4px; padding-bottom: 4px; padding-right: 8px; height:auto;">
    <ion-icon name="funnel-outline"></ion-icon>
    <ion-select (ionChange)="filterChanged($event)" multiple=true style="display:none;" #mySelect>
      <ion-select-option>Tag1</ion-select-option>
      <ion-select-option>Tag2</ion-select-option>
      <ion-select-option>Geschwister</ion-select-option>
      <ion-select-option>Lebensmittel</ion-select-option>
    </ion-select>
  </ion-button>
  </div>
  <hr>

  
  <ion-list>
  <div *ngFor ="let item of filtereditems ">
    <ion-card *ngIf="item.userid != userid">
      <ion-card-header>

        <ion-card-subtitle>{{item.ort}} | {{emails.get(item.userid)}}</ion-card-subtitle>

        <ion-card-title> {{item.titel}} 
          <ion-button (click) = "changeHeartState(item)" fill = "clear" style="float: right;">
            <ion-icon style="float: right; vertical-align: top;" [name]="checkFavorite(item)"></ion-icon> 
          </ion-button>
        </ion-card-title>
        
        <div style="display:flex;">
        <ion-img *ngIf="item.url!=''" src={{item.url}} style="width:50%;margin:1vh;margin-left: 0;" ></ion-img>
        
       
        <div style="vertical-align: top; margin:1vh; margin-left:1vh;"> {{item.beschreibung}} 
          <br>
          
        <ion-chip *ngFor="let tag of item.tags">{{tag}}</ion-chip>
        </div>
        </div>
        
      </ion-card-header> 
    </ion-card>
  </div>
    
    

  </ion-list>

  
  

  
</ion-content>
