<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your Trash
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div *ngFor ="let item of items | async">
    <ion-card *ngIf="item.userid == userid">
      <ion-card-header>
        <ion-card-subtitle>{{item.ort}}</ion-card-subtitle>
        <ion-card-title> {{item.titel}} 
          <!--ion-button (click) = "changeState()" fill = "clear" style="float: right;">
            <ion-icon style="float: right; vertical-align: top;" [name]="heartName"></ion-icon> 
          </ion-button-->
        </ion-card-title>
      </ion-card-header> 
    </ion-card>
  </div>
  </ion-list>
</ion-content>
