<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="row">
    <div class="col center-text">
      <ion-button (click)="createAccount()">Register</ion-button>
    </div>
    <div class="col center-text">
      <span>Already have an Account? <a (click)="loginpage()">Login</a></span>
    </div>
  </div>
</ion-content>
